<template id="card-callout" >
    <div class="callout"
        style="
            border: 1px solid #bfbfbf;
            border-radius: 15px;
            padding: 0.5rem;
            margin-bottom: 1rem;
        ">
        <h3 class="title"></h3>
        <p class="description"></p>
</template>

<template id="card-advanced">
    <div class="callout"
        style="
            border: 1px solid #bfbfbf;
            border-radius: 15px;
            padding: 0.5rem;
            margin-bottom: 1rem;
            background-image: url();
        ">
        <h3 class="title"></h3>
        <p class="description"></p> 
        <img src="" alt="">
    </div>
</template>