<template id="card-callout" >

    <div class="callout">
        <h3 class="title"></h3>
        <p class="description"></p>
    </div>

</template>

<template id="card-advanced">

    <div class="callout">
        <h3 class="title"></h3>
        <p class="description"></p> 
        <img src="" alt="">
    </div>

</template>

<style>

    .callout {
        border-radius: 15px;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        border: 1px solid;
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: initial;
    }

    
</style>